version: '3.9'

services:

  service-discovery:
    build: ./service-discovery
    container_name: service-discovery
    ports:
      - "8080:8080"
    networks:
      - app-network

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8085:8080"
    depends_on:
      - service-discovery
    networks:
      - app-network

  cadastros-service:
    build: ./cadastros-service
    container_name: cadastros-service
    ports:
      - "8087:8080"
    depends_on:
      - service-discovery
    networks:
      - app-network

  estoque-service:
    build: ./estoque-service
    container_name: estoque-service
    ports:
      - "8088:8080"
    depends_on:
      - service-discovery
    networks:
      - app-network

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8084:8080"
    depends_on:
      - service-discovery
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:80"
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
